<mat-card>
<div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div>
    <mat-table [dataSource]= "dataSource">
        <ng-container matColumnDef="id">
             <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
             <mat-cell *matCellDef="let profile"> {{profile.id}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="name">
             <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
             <mat-cell *matCellDef="let profile"> {{profile.name}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="type">
             <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
             <mat-cell *matCellDef="let profile"> {{profile.type}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="metric">
             <mat-header-cell *matHeaderCellDef> Metric</mat-header-cell>
             <mat-cell *matCellDef="let profile"> {{profile.metric}}</mat-cell>
         </ng-container>
          <ng-container matColumnDef="frequency">
             <mat-header-cell *matHeaderCellDef> Frequency</mat-header-cell>
             <mat-cell *matCellDef="let profile"> {{profile.frequency}}</mat-cell>
         </ng-container>
        <ng-container matColumnDef="value">
             <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
             <mat-cell *matCellDef="let profile"> {{profile.value}}</mat-cell>
         </ng-container>
         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
    </mat-table>
</div>
<mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[2, 5, 10, 20]">
</mat-paginator>
</mat-card>