<mat-card style="background-color:#787878"><form class="formwidth"  #assetForm="ngForm">
    <mat-accordion>
    <table class="fullwidth" cellspacing="0">
        <div *ngIf = "!assetService.assetid">
        <mat-expansion-panel  style="background-color:#e1e2dc" class="panelwidth" [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
        <mat-panel-title><h3><span class="glyphicon glyphicon-home"></span> Building Details</h3></mat-panel-title>
        </mat-expansion-panel-header>
        <tr>
            <td> 
               <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Owner's TIN"  id="ownerid" required [(ngModel)]="assetdata.ownerid" (blur)="getPayer()" name="ownerid" #ownerid="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
                    <div  [hidden]="ownerid.valid || ownerid.pristine" class="alert alert-danger">
                        Owner's TIN is Required
                    </div>
                </mat-form-field>  
            </td>
            <td>
                
                <div>  
                    <h5 *ngIf="assetdata.ownerid">{{payerService.firstname}} {{payerService.surname}} {{payerService.middlename}}</h5> 
                </div>
            </td>
           
        </tr>
            
        <tr> 
            <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="LGA" [(ngModel)]="assetdata.lga" name='lga'>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let lga of lgas" [value]="lga">{{lga}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Ward"  id="ward" [(ngModel)]="assetdata.ward" name="ward">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Town"  id="town" [(ngModel)]="assetdata.town" name="town">
                </mat-form-field>
            </td>
            
        </tr>
        
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="Building Completion" [(ngModel)]="assetdata.building_completion" name='building_completion'>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let bc of buildingcompletions" [value]="bc">{{bc}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>

             <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="Building Purpose" [(ngModel)]="assetdata.building_purpose" name='building_purpose'>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let bp of buildingpurposes" [value]="bp">{{bp}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="Building Occupancy" [(ngModel)]="assetdata.building_occupancy" name='building_occupancy'>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let bo of buildingoccupancies" [value]="bo">{{bo}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="Occupancy Type" [(ngModel)]="assetdata.occupancy_type" name='occupancy_type'>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let ot of occupancytypes" [value]="ot">{{ot}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
             <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="Building Type" [(ngModel)]="assetdata.building_type" name='building_type'>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let bt of buildingtypes" [value]="bt">{{bt}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Value"  id="value" [(ngModel)]="assetdata.value" name="value">
                </mat-form-field>
            </td>
            <td>
            <mat-form-field class="fullwidth">
                <input matInput [matDatepicker]="picker" placeholder="Registered Date" [(ngModel)]="assetdata.registered_date" name="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </td>
        </tr>
        <tr>
            <label>Location</label>
             <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Latitude"  id="latitude" [(ngModel)]="assetdata.latitude" name="latitude">
                </mat-form-field>
            </td>
             <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Longitude"  id="longitude" [(ngModel)]="assetdata.longitude" name="longitude">
                </mat-form-field>
            </td>
        </tr> 
        <h3><span class="glyphicon glyphicon-map-marker"></span> Address</h3>
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="House Number"  id="house_no" [(ngModel)]="assetdata.houseNo" name="house_no">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Plot Number"  id="plot_no" [(ngModel)]="assetdata.plotNo" name="plot_no">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Block Number"  id="block_no" [(ngModel)]="assetdata.blockNo" name="blockNo">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput type="text" placeholder="Flat Number"  id="flat_no" [(ngModel)]="assetdata.flatNo" name="flatNo">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <textarea matInput type="text" placeholder="Street Name"  id="street_name" [(ngModel)]="assetdata.streetName" name="street_name"></textarea>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <textarea matInput placeholder="District Name"  id="district_name" [(ngModel)]="assetdata.districtName" name="district_name"></textarea>
                </mat-form-field>
            </td>


        </tr>
        <mat-action-row>
            <button mat-raised-button color="primary" (click)="onSubmit(nextStep())" >Submit</button>
        </mat-action-row>
        </mat-expansion-panel>
        </div>
    </table>
    <table  class="fullwidth" cellspacing="0">
        <div *ngIf = "assetService.assetid">
        <mat-expansion-panel class="panelwidth" style="background-color:#e6e8f7" [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
        <mat-panel-title><h3><span class="glyphicon glyphicon-map-marker"></span>Profile Asset</h3></mat-panel-title>
        </mat-expansion-panel-header>
         <h3> Asset Details</h3>
                <tr>
                    <td><h5><strong>OWNER'S TIN:</strong> {{assetService.ownerid}}</h5></td>
                    <td><h5><strong>ASSET TYPE:</strong> {{assetService.type}}</h5></td> 
                </tr>
                <tr>
                    <td><h5><strong>LGA:</strong> {{assetService.lga}}</h5></td>
                    <td><h5><strong>WARD:</strong> {{assetService.ward}}</h5></td>
                </tr>
                <tr>
                    <td><h5><strong>BUILDING TYPE:</strong> {{assetService.building_type}}</h5></td>
                    <td><h5><strong>REGISTERED DATE:</strong> {{assetService.registered_date}}</h5></td>
                </tr>
        <tr>
          <td>
                <mat-form-field class="fullwidth">
                    <mat-select placeholder="--Select Profiles--" name='profiles' [(ngModel)]="assetdata.profile" multiple>
                        <mat-option *ngFor="let p of profiles | async"  [value]="p">{{p.id}}/{{p.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>   

        </tr>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-raised-button color="primary" (click)="addAssetProfile()">Add Profile</button>
        </mat-action-row>
        </mat-expansion-panel>
         </div>
    </table>
    </mat-accordion>
    </form> 
</mat-card>
 
 