.formwidth{
    width:500px;
    color: green;
}

.fullwidth{
    width:100%;
}

.panelwidth{
    width:850px;
}

.example-h2{
    margin:10px
}
.example-radio-group{
    display: inline-flex;
    flex-direction: column;
}
.example-radio-button{
    margin: 5px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
